 
  .qualification__data {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    gap: 1.5rem;
  }
  
  
  .qualification__calendar {
    font-size: 0.8rem;
    color: var(--color-primary);
  }
  
  .qualification__rounder {
    display: inline-block;
    width: 13px;
    height: 13px;
    background-color: var(--color-primary);
    border-radius: 50%;
  }
  
  .qualification__line {
    display: block;
    width: 1px;
    height: 100%;
    background-color: var(--color-primary);
    transform: translate(6px, -7px);
  }
  
  .qualification [data-content] {
    display: none;
  }
  
  .qualification__active[data-content] {
    display: block;
  }
  
  .qualification__button.qualification__active {
    color: var(--color-primary);
  }